    .container {
        padding: 0 2rem;
    }
    
    .main {
        padding: 4rem 0;
        display: flex;
        min-height: 480px;
    }
    
    .flexItemRight {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .flexItemLeft {
        width: 50%;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 2rem 0;
        border-top: 1px solid #eaeaea;
        justify-content: center;
        align-items: center;
    }
    
    .footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    
    .title a {
        color: #54616c;
        text-decoration: none;
        font-weight: 600;
        margin-inline: 1.25rem;
        font-size: 1.2rem;
    }
    
    .logo {
        height: 1em;
        margin-left: 0.5rem;
    }
    
    @media (max-width: 800px) {
        .main {
            flex-direction: column-reverse;
            padding: 0rem;
            min-height: auto;
        }
        .flexItemRight {
            margin-top: 2rem;
            width: 100%;
        }
        .flexItemLeft {
            width: 100%;
        }
        .title {
            display: none;
        }
    }